<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <div class="logo-container me-5 pe-5">
                <img class="custom-logo" src="assets/img/default/yourlogo.svg" alt="">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{{ 'menu.home'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown dropstart">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fal fa-globe"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                            {% for locale in locales() %}
                                
                                <a class="dropdown-item" href="{{ path(app.request.get('_route', 'home'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                                    <div class="language d-flex justify-content-start align-items-center">
                                        <img src="assets/img/lang/{{ locale.code[0:2] }}.jpg" alt=""><span class="ms-2">{{ locale.name|capitalize }}</span>
                                    </div>
                                </a>
                            
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>